<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COSC341Project">
        <activity
            android:name=".AvailableTour5Activity"
            android:exported="false" />
        <activity
            android:name=".AvailableTour4Activity"
            android:exported="false" />
        <activity
            android:name=".AvailableTour3Activity"
            android:exported="false" />
        <activity
            android:name=".AvailableTour2Activity"
            android:exported="false" />
        <activity
            android:name=".AvailableTour1Activity"
            android:exported="false" />
        <activity
            android:name=".WineryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" /> <!-- android:name=".ui.CompareToursActivity" -->
        <!-- This line was originally under android:name=".SearchActivity", was causing an error so I removed it -->
        <activity
            android:name=".ui.SelectToursActivity"
            android:exported="false" />
        <activity
            android:name=".ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".EditTourListingActivity"
            android:exported="false" />
        <activity
            android:name=".ListingsActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerMainActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileOwnerActivity"
            android:exported="true" />

         <activity
             android:name=".LoginActivity"
             android:exported="true">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <!-- <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->

        <!--to change the launcher activity to SearchActivity use commented code below and remove lines 34-37 and 60-68 (I believe those are the right lines to remove)-->
        <!-- <activity
                android:name=".MainActivity"
                android:exported="false" />
            <activity
                android:name=".SearchActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity> -->

    </application>

</manifest>